<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express test</title>
    <script src="https://kit.fontawesome.com/7fc074d826.js" crossorigin="anonymous"></script>

</head>

<body>
    <% if (locals.error) { %>
        <h3>
            <%= error %>
        </h3>
        <% } %>
            <form action="/greet" method="get">
                Register:
                <input type="text" name="name" id="name" placeholder="Name">
                <input type="submit" value="go next">
            </form>
            <% if (names.length !=0) { %>
                <h1>Success!!</h1>
                <h3>
                    <% if (names.length==1) { %>
                        Welcome <a href="/greet/0">
                            <%= names[0] %>
                        </a>
                        <% } else if (names.length==2) { %>
                            Welcome you two <a href="/greet/0">
                                <%= names[0] %>
                            </a>, <a href="/greet/1">
                                <%= names[1] %>
                            </a>
                            <% } else { %>
                                Welcome crew
                                <% for(var i=0; i < names.length; i++) { %>
                                    <a href="/greet/<%= i %>">
                                        <%= names[i] %>
                                    </a>,
                                    <% } %>
                                        <% } %>
                </h3>
                <% } %>
                    <h2>Tasklist</h2>
                    <form action="/task" method="post">
                        Add task:
                        <input type="text" name="task" id="task" placeholder="Task">
                        <input type="submit" value="Add">

                        <% if (tasks.length !=0) { %>
                            <ul>
                                <% for(var i=0; i < tasks.length; i++) { %>
                                    <li><a href="/task/up.<%= i %>"><i class="fa-solid fa-arrow-up"></i></a> | <a
                                            href="/task/dn.<%= i %>"><i class="fa-solid fa-arrow-down"></i></a>
                                        <%= tasks[i] %> <a href="/task/del/<%= i %>"><i
                                                    class="fa-solid fa-trash-can"></i></a>
                                    </li>
                                    <% } %>
                            </ul>
                            <% } %>
                    </form>
</body>

</html>